.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/

SegAL_VLM_LoveDA/data/
SegAL_VLM_LoveDA/experiments/

**/*.pth
**/*.pt
**/*.ckpt
**/*.log
**/*.tmp
